NODE_ENV=development
PORT=5000
DATABASE_URL=mongodb://Assinment-09:YBWKfuKP6e9eFjgv@ac-skk4mvt-shard-00-00.jqhyixi.mongodb.net:27017,ac-skk4mvt-shard-00-01.jqhyixi.mongodb.net:27017,ac-skk4mvt-shard-00-02.jqhyixi.mongodb.net:27017/?ssl=true&replicaSet=atlas-dgsjal-shard-0&authSource=admin&appName=Cluster0
DB_NAME=EstateFlow
BCRYPT_SALT_ROUNDS=12
JWT_ACCESS_SECRET=super_secret_jwt_access_key_123456
JWT_ACCESS_EXPIRES_IN=1d
BETTER_AUTH_SECRET=nk4Nh31gsTZaeYcqB3dVdMUAuwGrzfoV
